<!-- Navbar start -->
<nav class="navbar navbar-expand-lg px-5 sticky-top navbar-light bg-secondary">
  <!-- <button class="btn btn-outline-dark">
      <i class="fa fa-sliders" ></i>
    </button> -->
  <a class="navbar-brand px-5" href="#">
    <img [src]="logo" alt="logo" width="50" height="40">
  </a>
  <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse  px-5" id="navbarSupportedContent">
    <form class="form-inline px-md-5" method="get" novalidate>
      <div class="input-group">
        <!--Item Menu -->
        <div class="input-group-prepend">
          <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" name="btnCategory" type="button"
              id="btnCategoryDropdownMenu" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">All</button>
            <ul class="dropdown-menu" aria-labelledby="btnCategoryDropdownMenu">
              <li><a class="dropdown-item" href="#">All</a></li>
              <li><a class="dropdown-item" href="#">Men's Ware</a></li>
              <li><a class="dropdown-item" href="#">Women's Ware</a></li>
              <li><a class="dropdown-item" href="#">Kide's Ware</a></li>
            </ul>
          </div>
        </div>
        <!-- Search -->
        <input type="text" class="form-control" name="query" id="query" size="100" placeholder="Search">
        <input type="text" name="category" id="category" value="book" hidden>
        <div class="input-group-append">
          <button type="submit" class="btn btn-warning">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <!-- Search end -->
      </div>
    </form>
    <!-- Laguage -->
    <ul class="navbar-nav px-3">
      <li class="nav-item dropdown pt-2  px-4">
        <a href="#" class="nav-link pt-1" href="#" id="preferLanguageDropdwon" role="button" aria-haspopup="true"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-2x fa-language text-light"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="preferLanguageDropdwon">
          <form class="p-3" action="">
            <div class="dropdown-divider"></div>
            <div class="custom-control custom-radio mb-2">
              <input class="custom-control-input" type="radio" name="preferLang" id="englishLang" value="english" checked>
              <label class="custom-control-label" for="englishLang">
                <img src="../../assets/flags/usa.jpg"  class="rounded" width="30" height="30" alt="usa">
              </label>
            </div>
            <div class="dropdwon-divider"></div>
            <div class="custom-control mb-2">
              <input class="custom-control-input" type="radio" name="preferLang" id="teluguLang" value="telugu" checked>
              <label class="custom-control-label" for="teluguLang">
                <img src="../../assets/flags/ind.jpg" class="rounded" width="30" height="30" alt="">
              </label>
            </div>
            <div class="dropdwon-divider"></div>
            <div class="custom-control">
              <input class="custom-control-input" type="radio" name="preferLang" id="temilLang" value="temil" checked>
              <label class="custom-control-label" for="temilLang">
                <img src="../../assets/flags/uk.jpg" class="rounded" width="30" height="30" alt="">
              </label>
            </div>
            <div class="dropdwon-divider"></div>
          </form>
        </div>
      </li>
      <!-- user Account -->
      <li class="nav-item dropdown px-4 pt-1">
        <a href="#" class="nav-link" href="#" id="userAccount" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa fa-2x fa-user-circle text-light"></i>
        </a>
        <div class="dropdown-menu px-4 pt-1" aria-labelledby="userAccount">
          <div class="row d-flex flex-column justify-content-center ">
            <a href="#" class="btn btn-warning w-100 btn-sm font-weight-bold">Signin</a>
            <small class="text-muted">New customer?<a href="#">Starthere.</a></small>
          </div>
        </div>
      </li>
      <!-- User Account end -->

      <!-- Add Cart -->
      <li class="nav-item dropdown px-4 pt-1">
        <a class="nav-link " href="#" id="addCart" role="button" data-bs-toggle="dropdown" aria-disabled="false">
          <p class="">
            <mat-icon class="pt-1 text-light sm" matBadge="10" matBadgeColor="warn">shopping_cart</mat-icon>
          </p>
        </a>
        <div class="dropdown-menu px-5" aria-labelledby="userAccount">
          <div class="row d-flex flex-column justify-content-center ">
            <p>Your Items</p>
          </div>
        </div>
      </li>
      <!-- Logout -->
      <li class="nav-item px-4 pt-3" aria-labelledby="userAccount">
        <a href="#">
          <mat-icon class=" text-light">logout</mat-icon>
        </a>
      </li>

    </ul>

  </div>
</nav>
<!-- Navbar end -->

<app-single-product></app-single-product>